* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif Pro', serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('./images/small-heath.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	color: #ffd08e;
	width: 40vw;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.score {
	font-weight: 600;
	margin-left: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, min-content);
	grid-template-rows: repeat(3, 1fr);
	gap: 5px;
}

.card {
	background-color: #41636c;
	border-radius: 5px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 5px;
	cursor: pointer;
}

.card > img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 2px 2px;
}

.card:hover {
	box-shadow: 2px -4px 5px 2px rgb(156 163 175);
}
